@{
    ViewData["Title"] = "ASP Todo List";
}

@section scripts {
    <script src="~/js/Vues/TodoVue.js"></script>
}

<div class="row">
    <div class="col-xs-12">
        <h1>Hello World</h1>

        <p>This is a todo list app</p>
    </div>
</div>