@{
    ViewData["Title"] = "ASP Todo List";
}

@section scripts {
    <script src="~/js/Vues/TodoVue.js"></script>
}

<div class="row">
    <div class="col-xs-12">
        <h1>Hello World</h1>

        <p>This is a todo list app</p>

        <hr />

        <div id="TodoApp">
            <ul class="list-group">
                 <button v-for="todo in todos" type="button" class="list-group-item" v-bind:class="{ 'completed' : todo.completed }" v-on:click="toggleCompleted(todo.id)">
                    {{todo.name}}
                    <span class="badge" v-on:click="removeTodo(todo.id)">X</span>
                 </button>
            </ul>
        </div>
    </div>
</div>